<section class="header6 cid-swQyZHLRln mbr-fullscreen" id="header6-1">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(68, 121, 217);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>مليونية الصلاة على النبي صلى الله عليه وسلم </strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    Mobirise is a free offline app for Windows and Mac to easily create small/medium websites, landing
                    pages, portfolios. 3500+ beautiful website blocks, templates and themes help you to start easily.
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-danger display-4" href="{% url 'Insert-Count' %}">Enter Counter</a></div>
            </div>
        </div>
    </div>
</section>