{% extends "base.html" %} 
{% load static %}
 
 
  {% block content %}


  <section class="header6 cid-swQyZHLRln mbr-fullscreen" id="header6-1">

    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(68, 121, 217);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>مليونية الصلاة على النبي صلى الله عليه وسلم </strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                                              {% if count.total_sum <= 1000000 %}
                            <h1 class="mbr-text mbr-white">{{count.total_sum}} : عدد الصلاة من   1000000</h1>
                            
                            {% elif count.total_sum >= 1000000 %}
                            <!-- <h1>{{count.total_sum}} : عدد الصلاة من   1000000</h1>  -->
                            <h1> مبروك لقد تم الانتهاء من مليونية الصلاة على النبي</h1>
                            {% endif %}
                </p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-danger display-4" href="{% url 'Insert-Count' %}">Enter Counter</a></div>
            </div>
        </div>
    </div>
</section>


{% endblock content %}
{% include "script.html" %}